<% provide :title, "Welcome" %>
<div class="jumbotron">
  <h1 class="display-4">The Mağara</h1>
  <p class="lead">Open source platform for find the house which you were dreaming. Especially it is for students.</p>
  <hr class="my-4">
  <p>Sign up or learn more</p>
  <%= link_to "Learn more", "#", class: "btn btn-lg btn-primary", role: "button" %>
</div>
